#contact{
    padding-top: 4em;
    background-image: url(/images/accent_bottom_wave_01.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    .title{
        @include f-text($fs-2_5, $fw-7, $color-black-1);
        margin-bottom: 50px;
    }
    .user, .email, .language, .message {
        position: relative;
         i{
            color: $color-violet
         }
    }
    .user{
        padding-right: 15px;
    }
    .form-control {
        @include f-text($fs-0_8, $fw-3, $color-violet);
        border-radius: 15px;
        padding: 4px 35px;
        &:focus{
            box-shadow:  0 0 0 0.1rem #d3d1d1 !important;
            border-color: #202020;
        }   
    }
    .icon_form{
        position: absolute;
        top:9px;
        left: 10px;
    }
    .contact__img{
        width: 100%;
    }
    .contact__input{
        padding: 70px 25px;
        box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
        background-color: $color-white;
        border-radius: 5px;
    }
}
