// fontsize 
$fs-0_8: 0.9rem;
$fs-1: 1rem;
$fs-1_1: 1.1rem;
$fs-1_3: 1.3rem;
$fs-1_7: 1.7rem;
$fs-2: 2rem;
$fs-2_5: 2.5rem;
$fs-3: 3rem;
$fs-4: 4rem;
$fs-4_5: 4.5rem;
$fs-5: 5rem;

// font weight 
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

// line-height
$lh-1: 80px;

// color 
$color-black-1: #000000;
$color-violet: #b61984;
$color-white: #ffffff;
$color-white_1:rgb(224, 221, 221);

// padding 
$pd-l-5: 50px;